# Ignore pycache files
__pycache__/

# Ignore venv dir
venv/

# Ignore the Django migration directory
*/migrations/

# Ignore system and environment-specific files
.vscode/
.idea/
__pycache__/
.DS_Store

# Ignore user-specific settings files
settings_local.py
db.sqlite3

# Ignore static and media files (if they're stored in the repository)
static/
media/

# Ignore environment files (e.g., .env)
.env

# Ignore database backups
*.bak
*.db

# Ignore log and temporary files
*.log
*.tmp

# Ignore compiled files (e.g., .pyc)
*.pyc

# Ignore development/test databases
test.db
dev.db
