{% extends 'user_accounts_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-3">
    <div class="form container p-4">
        <div class="form-content ">
            <h3 class="text-center">Django Blog</h3>
            <form id="register-form" method="POST">
                <legend>Password Reset Done</legend>
                <h4>A mail has been sent to your email address!</h4>
                <p>Need to log in? <a href="{% url 'login' %}">Log in</a></p>
                <!-- <input type="submit" value="Send Mail" class="btn btn-md btn-success"> -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
