{% extends 'user_accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-3 bg-light">
    <div class="form container p-4 bg-white">
        <h3 class="text-center">Author Registration Form</h3>
        <form method="post" class="p-3 needs-validation" novalidate>
            <fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-md btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
        <p class="text-center">Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
    </div>
</div>
{% endblock %}
