{% extends 'user_accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-3 bg-light rounded">
    <div class="form container p-4 bg-white">
        <h4 class="text-center bg-info p-2 text-white rounded">Author Registration Form</h4>
        <form method="post" class="p-3 needs-validation mb-0" novalidate>
            <fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-md btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
        <p class="text-center mb-0">Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
        <p class="text-center">Back to home page! <a href="{% url 'home' %}">Blog Home</a></p>
    </div>
</div>
{% endblock %}
