<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="border-top">
    <footer class="text-center text-lg-start bg-dark">
      <div class="container d-flex justify-content-center py-3">
        <button class="btn btn-info btn-lg btn-floating mx-1">
          <a class="text-white" href="#"><i class="fab fa-linkedin"></i></a>
        </button>
        <button class="btn btn-info btn-md btn-floating mx-1">
          <a class="text-white" href="#"><i class="fab fa-github"></i></a>
        </button>
        <button class="btn btn-info btn-md btn-floating mx-1">
          <a class="text-white" href="#"><i class="fab fa-twitter"></i></a>
        </button>
      </div>
  
      
    
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://sabbir-hossain.com/">Sabbir Hossain</a>
      </div>


    </footer>
    
</div>