{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-3 bg-light">
    <div class="form container p-4 bg-white">
        <h3 class="text-center">
            {% if header %}
                {{ header }}
            {% else %}
                Post
            {% endif %}
        </h3>
        <form method="post" class="p-3 needs-validation" novalidate enctype="multipart/form-data">
            <fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-md btn-primary mt-1">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
